venv/
__pycache__/
data/
output/
*.py[cod]
*$py.class
*.so
*.dylib
test.py
rough.py
experiment_description.md
client_secret_277610320033-3l44q57eeibslo1vh1m70mc2btt94h3h.apps.googleusercontent.com.json
test*